node_modules
npm-debug.log
.git
.gitignore
README.md
.next
.env
.env.local
.env.production.local
.env.development.local
.env.test.local
.DS_Store
dist
build
coverage
__tests__
.vscode
.idea
*.log
scripts
docs
references
